<nav class="barraSuperior">
    
    
        <a href="#inicio"><img class="marca" src="./assets/fotoperfil.jpeg"></a>
        <a href="login.html"><button type="button" class="buttonLogin">Login</button></a>
        <a href="#contactoAncla"><button type="button" class="buttonLogin">Contacto</button></a>
        <a href="#proyectosAncla"><button type="button" class="buttonLogin">Proyectos</button></a>
        <a href="#acercaDeAncla"><button type="button" class="buttonLogin">Acerca De</button></a>
        
    
     </nav>