<!-- <nav class="barraSuperior">
    
    
        <a href="#inicio"><img class="marca" src="./assets/Logo.png" style="width: 125px; height: 65px; background-size: 100% 100%;background-repeat: no-repeat;background-position: top;"></a>
        <a href="login.html"><button type="button" class="buttonLogin">Login</button></a>
        <a href="#contactoAncla"><button type="button" class="buttonLogin">Contacto</button></a>
        <a href="#proyectosAncla"><button type="button" class="buttonLogin">Proyectos</button></a>
        <a href="#acercaDeAncla"><button type="button" class="buttonLogin">Acerca De</button></a>
        
    
     </nav> -->

     <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index: 100;position: fixed; top: 0;width: 100%;height: 60px;overflow: hidden;opacity:0.90">
        <div class="container-fluid">
          <a href="#inicio"><img class="marca" src="./assets/Logo.png" style="width: 125px; height: 65px; background-size: 100% 100%;background-repeat: no-repeat;background-position: top;"></a>
      
          <div class="collapse navbar-collapse" id="navbarColor01" >
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;">Acerca De</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;">Educacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"style="color:white;">Habilidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;">Proyectos</a>
              </li>
            </ul>
            
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
           
          </div>
        </div>
      </nav>