.redes{
    
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    
    
}


.marca{
    float: left;
    
    
    

}


.container{

    display: flex;
    display: inline-flex;
    

}

.nav-link{
    margin-right:0.7em;

}

