.nav-link{

    display: inline-block;
    margin-left: 10%;
    
    
}


.container-redes{

    
    margin-top: 1%;
    width: 400px;
    height: 40px;
    float:right;
    
 
}

.text-info2{

    font-size: 20px;
    text-shadow:  0 0 50px rgb(45, 160, 255);
    text-shadow: 0 0 70px rgb(45, 160, 255);
    text-shadow: 0 0 60px rgb(45, 160, 255);
    text-shadow: 0 0 90px rgb(45, 160, 255);
    text-shadow: 0 0 70px rgb(45, 160, 255);
    text-shadow: 0 0 80px rgb(45, 160, 255);
    
}

.text-info{

    font-size: 12px;
    margin-top: 10%;
    text-shadow:  0 0 50px rgb(45, 160, 255);
    text-shadow: 0 0 70px rgb(45, 160, 255);
    text-shadow: 0 0 60px rgb(45, 160, 255);
    text-shadow: 0 0 90px rgb(45, 160, 255);
    text-shadow: 0 0 70px rgb(45, 160, 255);
    text-shadow: 0 0 80px rgb(45, 160, 255);
    
}


