<div class="containerEducacion">

<h1 class="text-secondary">Educación</h1>
    <div class="card border-secondary mb-3" style="max-width: 47%;float: left;margin-top:1%;">
        
        <div class="card-body">
          <h4 class="card-title">2020-Actualmente: UTN</h4>
          <p class="card-text">Tecnicatura Universitaria en programacion en Universidad Tecnologica de Cordoba. Actualmente cursando segundo año</p>
        </div>
      </div>
 
      <div class="card border-dark mb-3" style="max-width: 47%;float: right;margin-right:3%;margin-top:1%;">
        
        <div class="card-body">
          <h4 class="card-title">2009-2016: I.P.E.T N° 80</h4>
          <p class="card-text">Secundario en el I.P.E.T N° 80, Orientado a tecnico quimico, Curse de primero a sexto año.</p>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 47%;float: left;margin-top:2%;">
        
        <div class="card-body">
          <h4 class="card-title">2021-2022: Argentina Programa</h4>
          <p class="card-text">Realizacion de los programas de capacitacion SeProgramar y YoProgramo dictados por ArgentinaPrograma. Actualmente finalizados.</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 47%;float: right;margin-right:3%;margin-top:2%;">
        
        <div class="card-body">
          <h4 class="card-title">2019-2021: UTN-FRC</h4>
          <p class="card-text">Cursos de Desarrollador web full stack y experto universitario en Javascript dictados por la UTN-FRC.</p>
        </div>
      </div>
     
</div>>

