<div class="containerEducacion">

<h1 class="text-secondary">Educación</h1>
    <div class="card border-secondary mb-3" style="max-width: 47%;float: left;margin-top:1%;">
        
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
 
      <div class="card border-dark mb-3" style="max-width: 47%;float: right;margin-right:3%;margin-top:1%;">
        
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 47%;float: left;margin-top:2%;">
        
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 47%;float: right;margin-right:3%;margin-top:2%;">
        
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
     
</div>>

