.containerEducacion{

padding-left: 3%;
margin-left: 5%;
width: 90%;
height: 450px;
background-color:black;
box-shadow: 0 0 20px rgb(255, 68, 68);
/*box-shadow: 0 0 20px #4f9;*/
z-index: 98;
border-radius: 20px;

}