

h1{
    
    margin:auto;
    padding-top: 2%;
    font-size: 40px;
    font-weight: bold;
    width:20%;
    
}

h3{
    padding: 1%;
}


.container{

    float:left;
    max-width: 100%;
    margin-bottom: 3%;
    
}
.btn-edicion{
    float: right;
    
    margin-right:2%;
    margin-top:2%;
    z-index: 99;
    position: relative;
  
    
    
    

}