.skills{
    background-color: rgba(0, 0, 0, 0);
    height:700px;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    padding-top: 2%;
    padding-left: 3%;
    box-shadow: 0 0 20px rgb(255, 68, 68);
    border-radius: 20px;
}

h1{
        
    padding-top: 2%;
    font-size: 40px;
    font-weight: bold;
    width:20%;
    
}

.btn-edicion{
    float: right;
    margin-right:2%;
    margin-top:2%;
    z-index: 99;
    position: relative;
    background-color:rgba(184, 52, 52, 0.774);
    
    
    

}