<app-header></app-header>
<section class="containerLogin">
<form [formGroup]="form" class="Login" >
    <fieldset>
      <legend>Iniciar Sesión</legend>
     
    
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su email">
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El email es requerido.
          </p>
          <p *ngIf="Email?.hasError('email')" class="text-danger">
            El formato del email debe ser valido.
          </p>
        </div>
        <small id="emailHelp" class="form-text text-muted">Nosotros nunca compartiremos su email.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
          </p>
          <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
            La contraseña debe contener 8 o mas caracteres.
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top:6%">Ingresar</button>
</fieldset>
  </form>

  <div class="info">
    <p style="font-size: 50px;">Bienvenido a Mi portfolio web desarrollado para Argentina Programa, para continuar por favor inicie sesión.</p>
  </div>
</section>