<app-header></app-header>

<app-portada></app-portada>

<!-- <div>

    <app-niebla></app-niebla>
  
    </div> -->

<h1 class="text-secondary" style="margin-top: 12%" id="acercaDe">Sobre Mi</h1>

<div data-aos="flip-left" style="width: 80%; margin: auto">
  <app-acerca-de></app-acerca-de>
</div>

<h1 class="text-secondary" id="experiencia">Experiencia</h1>
<div data-aos="fade-down-left" style="width: 80%; margin: auto">
  <app-experiencia></app-experiencia>
</div>

<h1 class="text-secondary" id="habilidades">Habilidades</h1>
<div data-aos="flip-left" style="width: 80%; margin: auto">
  <app-habilidades></app-habilidades>
</div>

<h1 class="text-secondary" id="educacion">Educación</h1>
<div data-aos="fade-up-left" style="width: 80%; margin: auto">
  <app-educacion></app-educacion>
</div>

<h1 class="text-secondary" id="proyectos">Proyectos</h1>
<div data-aos="fade-down-right" style="width: 85%; margin: auto">
  <app-proyectos></app-proyectos>
</div>

<app-footer></app-footer>
