  
  <app-header></app-header>
  
  <app-portada ></app-portada>

  
  <!-- <div>

    <app-niebla></app-niebla>
  
    </div> -->
  
  <div data-aos="flip-left" style="width: 80%;margin: auto;">

  <app-acerca-de></app-acerca-de>
  
  </div>

<div data-aos="fade-down-left" style="width: 80%;margin: auto;">
  <app-experiencia></app-experiencia>
</div>

<div data-aos="flip-left" style="width: 80%;margin: auto;">
  <app-habilidades></app-habilidades>
</div>

<div data-aos="fade-up-left" style="width: 80%;margin: auto;">
  <app-educacion></app-educacion>
</div>

<div data-aos="fade-down-right" style="width: 85%;margin: auto;">
  <app-proyectos></app-proyectos>
</div>
  <app-footer></app-footer>
  
  
