<app-header></app-header>

<app-portada></app-portada>

<section id="acercaDe">
  <h1 class="text-secondary" style="margin-top: 12%">Sobre Mi</h1>

  <div data-aos="flip-left" style="width: 80%; margin: auto">
    <app-acerca-de></app-acerca-de>
  </div>
</section>

<section id="experiencia">
  <h1 class="text-secondary">Experiencia</h1>
  <div data-aos="fade-down-left" style="width: 80%; margin: auto">
    <app-experiencia></app-experiencia>
  </div>
</section>
<section id="habilidades">
  <h1 class="text-secondary">Habilidades</h1>
  <div data-aos="flip-left" style="width: 80%; margin: auto">
    <app-habilidades></app-habilidades>
  </div>
</section>
<section id="educacion">
  <h1 class="text-secondary">Educación</h1>
  <div data-aos="fade-up-left" style="width: 80%; margin: auto">
    <app-educacion></app-educacion>
  </div>
</section>

<section id="proyectos">
  <h1 class="text-secondary">Proyectos</h1>
  <div data-aos="fade-down-right" style="width: 85%; margin: auto">
    <app-proyectos></app-proyectos>
  </div>
</section>
<footer>
  <app-footer></app-footer>
</footer>
