<div class="containerAcerca">
        
        <button class="btn-edicion" hidden="true"><img src="../../assets/editar.png"></button>
        <h1 class="text-secondary" >Acerca De</h1>
        
        <div class="div" style="margin-left: 68%; margin-top:1.5%;">
        <img src="./assets/perfil.jpeg" alt="fotoperfil" class="card border-dark mb-3" style=" width: 200px; height:200 px; padding: 0px;border-radius: 50%;position: absolute;z-index: 99;">
        <button class="editar-perfil" hidden="true"><img src="../../assets/editar.png"></button>
        </div>
        
        <div class="card border-dark mb-3" style="width: 70%;float: left;">
        <div class="card-body" >
          <p class="text-primary" style="font-size:30px;">Hola me llamo Bruno y soy un Desarrollador Web Full Stack, con basta 
            experiencia en el desarrollo de aplicaciones
            web responsive.<br> Perfil proactivo con 
            facilidad de aprendizaje, buenas 
            habilidades comunicacionales,
            focalizado y orientado a <br>los resultados.</p>
        </div>
</div>
        

        
</div>

