<div class="containerAcerca">
        
        <button class="btn-edicion" hidden="true"><img src="../../assets/editar.png"></button>
        <h1>Acerca De</h1>
        
        <div class="div" style="margin-left: 65%; margin-top:1.5%;">
        <img src="./assets/perfil.jpeg" alt="fotoperfil" style=" width: 200px; height:200 px; padding: 0px;border-radius: 50%;border-color: rgb(255, 255, 255);box-shadow: 0 0 20px rgb(0, 0, 0); border: 10px solid rgba(0, 0, 0, 0.76);position: absolute;z-index: 99;margin-right: 200px;">
        <button class="editar-perfil" hidden="true"><img src="../../assets/editar.png"></button>
        </div>
        
        
        <div class="card" style="width: 70%;float: left;background-color: rgb(0, 0, 0);" >
            
            <div class="card-body" style="background-color: rgb(194, 61, 61);border-radius:15px;height:300px;float:left;box-shadow: 0 0 20px rgb(255, 68, 68);">
              <blockquote class="blockquote mb-0" style="background-color: rgb(194, 61, 61)">
                <p style="font:bold 28px verdana;">Hola me llamo Bruno y soy un Desarrollador Web Full Stack, con basta 
                  experiencia en el desarrollo de aplicaciones
                  web responsive.<br> Perfil proactivo con 
                  facilidad de aprendizaje, buenas 
                  habilidades comunicacionales,
                  focalizado y orientado a <br>los resultados.
                </p>
                
              </blockquote>
            </div>
          </div>

        
</div>

