.containerAcerca{
    
   
    margin-top: 1%;
    width: 100%;
    height: 28,125em;
    z-index: 98;
    border-radius: 1.25em;
    
    
}

.avatar {
   
    border-radius: 50%;
    
    max-width: 9.375rem;
    max-height: 9.375rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1rem;
    
    
    align-self: center;
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;
    
    /* Take full size */
    height: 100%;
    width: 100%;
}

h1,h2,h3{
    margin:auto;
    padding: 2px;
    
}

.btn-edicion{
    float: right;
    margin-right:1%;
    margin-top:2%;
    z-index: 99;
    position: relative;
    
    

}

.editar-perfil{

    margin-top: 17%;
    margin-left: 60%;
    float: right;
    z-index: 99;
    position: absolute;
   
}

.editar-btn-x{
    float: right;
    margin-right:0.5%;
    margin-left:1%;
    margin-top:2%;
    z-index: 99;
    position: relative;
    

}




