<app-header></app-header>
<section class="containerLogin">
  <div class="container">
    <div class="row">
      <div
        class="card border-secondary mb-3"
        style="padding: 4%; border-radius: 20px"
      >
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreE">Nombre de la Empresa</label>
            <input
              type="text"
              name="nombreE"
              id="nombreE"
              class="form-control"
              [(ngModel)]="nombreE"
              required
            />
          </div>

          <div class="form-group">
            <label for="puesto">Puesto</label>
            <input
              type="text"
              name="puesto"
              id="puesto"
              class="form-control"
              [(ngModel)]="puesto"
              required
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input
              type="text"
              name="descripcion"
              id="descripcion"
              class="form-control"
              [(ngModel)]="descripcion"
              required
            />
          </div>

          <div class="form-group">
            <label for="fechaInicio">Fecha Inicio</label>
            <input
              type="text"
              name="fechaInicio"
              id="fechaInicio"
              class="form-control"
              [(ngModel)]="fechaInicio"
              required
            />
          </div>

          <div class="form-group">
            <label for="fechaFin">Fecha Fin</label>
            <input
              type="text"
              name="fechaFin"
              id="fechaFin"
              class="form-control"
              [(ngModel)]="fechaFin"
              required
            />
          </div>

          <div class="form-group">
            <label for="imgEmpresa">Logo de la empresa</label>
            <input
              type="text"
              name="imgEmpresa"
              id="imgEmpresa"
              class="form-control"
              [(ngModel)]="imgEmpresa"
              required
            />
          </div>

          <button
            type="submit"
            id="save"
            class="btn btn-primary"
            style="margin-top: 2%"
          >
            Cargar Experiencia
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
