<section class="skills">

    <button class="btn-edicion" hidden="true"><img src="../../assets/editar.png"></button>
    <button class="editar-nuevo" hidden="true"><img src="../../assets/editar.png"></button>
    <h1 style="color: rgb(231, 231, 231);font-weight: bold;">Hard Skills</h1>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="progreso blue-90">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value">90%</div>
          </div>
          <h5 class="lenguaje">Html</h5>
        </div>
      
    
        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value">75%</div>
          </div>
          <h5 class="lenguaje">Css</h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso pink-60">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value">60%</div>
          </div>
          <h5 class="lenguaje">Javascript</h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value">75%</div>
          </div>
          <h5 class="lenguaje">MySql</h5>
        </div>
        
        
        <div class="col-md-2 col-sm-6">
          <div class="progreso green-50">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value">5o%</div>
          </div>
          <h5 class="lenguaje">Angular</h5>
        </div>

      </div>

      
    </div>
    
    <h1 style="color: rgb(231, 231, 231);font-weight: bold;margin-top: 20px;">Soft Skills</h1>

    <br>
     
    <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value">90%</div>
            </div>
            <h5 class="lenguaje">Comunicacion</h5>
          </div>
        
      
          <div class="col-md-2 col-sm-6">
            <div class="progreso pink-60">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value">60%</div>
            </div>
            <h5 class="lenguaje">Perfeccionismo</h5>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value">90%</div>
            </div>
            <h5 class="lenguaje">Trabajo en eqipo</h5>
          </div>
  
          <div class="col-md-2 col-sm-6">
            <div class="progreso yellow-75">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value">75%</div>
            </div>
            <h5 class="lenguaje">Responsabilidad</h5>
          </div>
          
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value">90%</div>
            </div>
            <h5 class="lenguaje">Proactividad</h5>
          </div>
         
          
        </div>
  
        
      </div>

   
  </section>
