<section class="skills">

    <button class="btn-edicion" hidden="true"><img src="../../assets/editar.png"></button>
    <button class="editar-nuevo" hidden="true"><img src="../../assets/editar.png"></button>
    <h1 class="text-secondary">Hard Skills</h1>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="progreso blue-90">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-success">90%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-success">Html</p></h5>
        </div>
      
    
        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-warning">75%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-warning">Css</p></h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso pink-60">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-secondary">60%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-secondary">Javascript</p></h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-warning">75%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-warning">MySql</p></h5>
        </div>
        
        
        <div class="col-md-2 col-sm-6">
          <div class="progreso green-50">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-danger">5o%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-danger">Angular</p></h5>
        </div>

      </div>

      
    </div>
    
    <h1 class="text-secondary">Soft Skills</h1>

    <br>
     
    <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Comunicacion</p></h5>
          </div>
        
      
          <div class="col-md-2 col-sm-6">
            <div class="progreso pink-60">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-secondary">60%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-secondary">Perfeccionismo</p></h5>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Trabajo en eqipo</p></h5>
          </div>
  
          <div class="col-md-2 col-sm-6">
            <div class="progreso yellow-75">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-warning">75%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-warning">Responsabilidad</p></h5>
          </div>
          
          
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Proactividad</p></h5>
          </div>
         
          
        </div>
  
        
      </div>

   
  </section>
