<section class="skills" >

    <button class="btn-edicion" hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg></button>
   
    <h3 class="text-secondary">Hard Skills</h3>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="progreso blue-90">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-success">90%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-success">Html</p></h5>
        </div>
      
    
        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-warning">75%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-warning">Css</p></h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso pink-60">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-secondary">60%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-secondary">Javascript</p></h5>
        </div>


        <div class="col-md-2 col-sm-6">
          <div class="progreso yellow-75">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-warning">75%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-warning">MySql</p></h5>
        </div>
        
        
        <div class="col-md-2 col-sm-6">
          <div class="progreso green-50">
            <span class="progreso-left">
              <span class="progreso-bar"></span>
            </span>
            <span class="progreso-right">
              <span class="progreso-bar"></span>
            </span>
            <div class="progreso-value"><p class="text-danger">5o%</p></div>
          </div>
          <h5 class="lenguaje"><p class="text-danger">Angular</p></h5>
        </div>

      </div>

      
    </div>
    
    <button class="btn-edicion" hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg></button>
    <h3 class="text-secondary">Soft Skills</h3>

    <br>
     
    <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Comunicación</p></h5>
          </div>
        
      
          <div class="col-md-2 col-sm-6">
            <div class="progreso pink-60">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-secondary">60%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-secondary">Proactividad</p></h5>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Trabajo en equipo</p></h5>
          </div>
  
          <div class="col-md-2 col-sm-6">
            <div class="progreso yellow-75">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-warning">75%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-warning">Responsabilidad</p></h5>
          </div>
          
          
          <div class="col-md-2 col-sm-6">
            <div class="progreso blue-90">
              <span class="progreso-left">
                <span class="progreso-bar"></span>
              </span>
              <span class="progreso-right">
                <span class="progreso-bar"></span>
              </span>
              <div class="progreso-value"><p class="text-success">90%</p></div>
            </div>
            <h5 class="lenguaje"><p class="text-success">Participación</p></h5>
          </div>
         
          
        </div>
  
        
      </div>

   
  </section>
