.portada{
    width: 100%;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    box-shadow:  0 0 50px rgba(255, 45, 227, 0.478);
    box-shadow: 0 0 50px rgba(255, 45, 227, 0.444);
    box-shadow: 0 0 50px rgba(255, 45, 227, 0.451);
    position: relative;
    
}
