.portada{
    width: 100%;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    box-shadow:  0 0 50px rgba(255, 45, 227, 0.478);
    box-shadow: 0 0 50px rgba(255, 45, 227, 0.444);
    box-shadow: 0 0 50px rgba(255, 45, 227, 0.451);
    position: relative;
    
}

div{

    
    align-items:center;
}


@media(max-width: 575px){
.deslizaArrow {
    z-index: 2;
    position: absolute;
    align-self: center;
    bottom: 0;
    top: 30%;
    opacity: 0.7;
    flex: 1;
    margin-left: 46.2%;
   
}

.portada{

    height: 400px;
    width: 400px;
}


}


@media(max-width: 576){
    .deslizaArrow {
        z-index: 2;
        position: absolute;
        align-self: center;
        bottom: 0;
        top: 30%;
        opacity: 0.7;
        flex: 1;
        margin-left: 46.2%;
        
    }

    .portada{

        height: 400px;
        
    }
    }

    @media(max-width: 576){
        .desliza {
            z-index: 2;
            position: absolute;
            bottom: 0;
            top: 65%;
            opacity: 0.7;
            flex: 1;
            left: auto;
        }
        }
        
        
        @media(max-width: 575){
            .desliza {
                z-index: 2;
                position: absolute;
               
                bottom: 0;
                top: 65%;
                opacity: 0.7;
                left:auto;
            }
            }