.portada{
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow:  7px 7px 15px #592A08;
    z-index: 99;
}
